.photo {
  width: 100%;
  height: 250px;
  border: 7px solid black;
  border-radius: 10px;
}

.upload {
  border: solid black 1px;
  padding: 50px;
  width: 300px;
  height: 150px;
  margin: 0 auto;
  border-radius: 10%;
  background-color: white;
}

#photoContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  justify-items: center;
}

#photoContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#photoContainer div p {
  padding-top: 5px;
  margin: 5px 0;
}

header {
  background-color: #4267B2;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 6px grey;
  margin-bottom: 20px;
}

body {
  text-align: center;
  margin: 0;
  color: #333;
  background-color: #bfbfbf;
}

a, button {
  background-color: #4267B2;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
}

a {
  padding: 10px 20px;
}

button {
  padding: 5px 10px;
}


a:hover {
  background-color: #365890;
  cursor: pointer;
}
